.quienesSomos {
    margin: 20px;

    .misionVision {
        text-align: center;

        h3 {
            color: $mainColor;
        }
    }

    .imgEmpresa {
        width: 100%;
        text-align: center;
    }
}