/* PROYECTOS */

.contenedorProyectos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.proyecto {
    display: flex;
    margin: 20px;
    border: 4px solid #c8cbce;
    border-radius: 10px;
    background-color: #c8cbce;

    .imgProyecto {
        width: 50%;
    }
}

.textoProyecto {
    margin: 20px;

    p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .btnVerMas {
        @include boton;
    }
}